.nonu A {text-decoration:none}
.null { text-align:justify; }
.egy { padding-left: 20pt; text-align:justify; }
.ket { padding-left: 40pt; text-align:justify; }
.kod { font-family:Courier New; font-weight:bold; padding:15px; color:yellow; background-color:black; }
.sima { font-weight:normal; padding:15px; color:black; background-color:white; }
